/** ==Responsive Styling== */
body.mobile {-webkit-text-size-adjust: 100%;} /* Iphone browser fix*/
body.mobile .main {min-height:0;}

@media (min-width: 1152px) {
	body.admin-bar.fluida-fixed-menu #site-header-main {
		margin-top: 32px;
	}
}

@media (max-width: 1152px) {

	body {
		font-size: .95em;
		margin-top: 0; /* removed fixed header menu */
	}

	#container[class*="three-"] .main,
	#container[class*="three-"] #primary,
	#container[class*="three-"] #secondary{
		width: 100%;
		margin: 0 0 1.5em;
	}

	#container[class*="three-"] .widget-container {
		width: 40%;
		margin: 0 5% 1.5em;
		float: left;
	}

	#container[class*="three-"] section.widget-container:nth-of-type(2n+1) {
		clear: both;
	}

	#primary + #secondary {
		padding-left: 2em;
	}

	#masthead #site-header-main {
		position: relative;
	}

	#header-image-main {
		margin-top: 0;
	}

	#breadcrumbs-container[class*="three-"] #breadcrumbs {
		width: 100%;
		margin: 0;
	}

}

@media (max-width: 1024px) {

	#container[class*="two-"] .main {
		width: 100%;
		margin: 0 0 1.5em;
	}

	#container[class*="two-"] #primary,
	#container[class*="two-"] #secondary {
		width: 100%;
		margin: 0 0 1.5em;
		float: none;
		clear: both;
	}

	#container[class*="two-"] #primary::after,
	#container[class*="two-"] #secondary::after {
		clear: both;
		content: "";
		display: block;
	}

	#container[class*="two-"] .widget-container,
	#colophon .widget-container	{
		width: 40%;
		margin: 0 5% 1.5em;
		float: left;
	}

	.fluida-magazine-three #content-masonry article.hentry {
		width: 48%;
	}

	#breadcrumbs-container[class*="two-"] #breadcrumbs {
		width: 100%;
		margin: 0;
	}

}

@media (max-width: 800px) {

	body {
		font-size: .90em;
	}

	.fluida-magazine-three #content-masonry article.hentry,
	.fluida-magazine-two #content-masonry article.hentry {
		width: 98%;
	}

	#footer-inside > * {
		display: table;
		float: none;
		text-align: center;
		margin: 1em auto;
		width: 100%;
	}

	#footer-inside #toTop {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		width: 90%;
		display: block;
		margin: 0 auto;
	}

	#footer-inside nav {
		width: auto;
	}

	#nav-toggle {
		display: block;
	}

	#site-header-main-inside {
		display: block;
	}

	#masthead #access {
		display: none;
	}

	#sheader {
		margin-left: 0;
		margin-right: 2em;
	}

}

@media (max-width: 640px) {

	body {
		/*font-size: .85em;*/
	}

	#container[class*="three-"] #primary,
	#container[class*="three-"] #secondary,
	#container[class*="three-"] .widget-container,
	#container[class*="two-"] .widget-container,
	#colophon .widget-container {
		width: 100%;
		margin: 0 0 1.5em;
		clear: both;
	}

	#sheader {
		display: none;
	}

	.socials a {
		font-size: 1.2em;
		margin: 0 .15em;
	}

}

@media (max-width: 480px) {

	body {
		/*font-size: .8em;*/
	}

}

/* FIN */
